@import "https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Manrope:wght@200&display=swap";
* {
  font-family: "Manrope";
  font-size: 35px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: #eeeeef;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  background: #eeeeef;
  height: 100vh;
  width: 100vw;
}
main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 10vh;
  width: 50%;
}
main .container #title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top: 5px #cdcfd2 solid;
  flex-direction: column;
  height: 17vh;
  width: 80%;
}
main .container #title-box h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40%;
  height: 40%;
  width: 75%;
}
main .container #title-box hr {
  background: #cdcfd2;
  margin: 2px;
  width: 80%;
}
main .container #input {
  height: 32vh;
  width: 80%;
}
main .container #input #instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32%;
  width: 100%;
}
main .container #input #instructions h2 {
  font-size: 45%;
  height: 60%;
  margin-bottom: -30px;
  width: 80%;
}
main .container #input #instructions h2 b {
  font-size: 100%;
  font-weight: bold;
}
main .container #input input {
  border: 1px #cdcfd2 solid;
  border-radius: 12px;
  font-size: 40%;
  height: 22%;
  width: 100%;
}
main .container #input button {
  border: 0px;
  border-bottom: 2px rgb(121, 143, 102) solid;
  border-radius: 15px;
  border-right: 2px rgb(121, 143, 102) solid;
  background: #b7da9b;
  color: white;
  font-size: 60%;
  height: 20%;
  margin: 5px;
  transition-duration: 0.2s;
  width: 50%;
}
main .container #input button:hover {
  background: #527ca6;
  border-bottom: 2px #2d445b solid;
  border-right: 2px #2d445b solid;
  width: 45%;
}
main .container #grade-contents {
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
}
main .container #grade-contents .category {
  margin-bottom: 20px;
  width: 100%;
}
main .container #grade-contents .category .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top: 5px #527ca6 solid;
  flex-direction: row;
  height: 7vh;
  width: 100%;
}
main .container #grade-contents .category .title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  width: 55%;
}
main .container #grade-contents .category .title h1 p {
  text-shadow: 0px 0px 5px rgb(121, 143, 102);
  color: rgb(121, 143, 102);
  font-size: 80%;
  margin-left: 10px;
}
main .container #grade-contents .category .title h2 {
  font-size: 60%;
  width: 15%;
}
main .container #grade-contents .category .title input {
  border: 1px #cdcfd2 solid;
  border-radius: 12px;
  font-size: 70%;
  width: 10%;
}
main .container #grade-contents .category .grade {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeef;
  height: 6vh;
}
main .container #grade-contents .category .grade .name {
  font-size: 60%;
  width: 50%;
}
main .container #grade-contents .category .grade .score, main .container #grade-contents .category .grade .total {
  border: 1px #cdcfd2 solid;
  border-radius: 12px;
  font-size: 70%;
  width: 15%;
}
main .container #grade-contents .category .grade:nth-of-type(odd) {
  background: #cdcfd2;
}
main .container #results {
  background: #b7da9b;
  height: 30vh;
  width: 80%;
}/*# sourceMappingURL=style.css.map */